h1 {
  border: 1px solid navy; 
  color: navy;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 25px;
  font-size: 40px;
}

#heading {
  font-size: 70px;
}

img {
  border-radius: 50px;
}

li {
  margin: 10px;
  font-style: italic;
  font-size: 20px;
}

a {
  font-size: 30px;
}

body {
  background-color: blanchedalmond;
}
